@import '@arcgis/core/assets/esri/themes/dark/main.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%; 
  /* margin-top: 60px; */
}

html, body, #mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; 
}